@font-face {
    font-family: Poppins;
    src: url("assets/fonts/Poppins/Poppins-Light.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
}

.wrapper {
    max-width: 1200px;
    background-color: rgba(154, 154, 154, 0.8);
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 0 30px;
}

.nav {
    width: 100%;
}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

.nav_burger {
    display: none;
}

.nav_item {
    padding: 0;
    line-height: 50px;
    font-weight: normal;
    font-size: 20px;
}

.nav_link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #cc0000;
}

.nav_link:hover {
    font-weight: bold;
    text-decoration: underline;
}

.main__wrapper {
    background-color: rgba(154, 154, 154, 0.2);
    padding: 0 30px;
}

.information {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.information__foto {
    height: 400px;
    margin: 15px 30px 15px 0;
    outline: 2px solid rgba(255, 255, 255, 0.8);
    outline-offset: -15px;
}

.information__text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
}

.information__name {
    color: #cc0000;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
}

.information__profession {
    font-size: 34px;
    margin-bottom: 70px;
}

.information__contacts {
    align-self: flex-start;
    font-size: 22px;
}

.about-me {
    display: flex;
    flex-direction: column;
}

.about-me__section {
    border: 2px solid rgba(154, 154, 154, 0.8);
    background-color: rgba(154, 154, 154, 0.3);
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgb(154, 154, 154, 0.8);
}

.summary_info {
    text-align: justify;
}

.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list {
    padding: 0;
    margin-left: 20px;
}

.about-me__header {
    color: #cc0000;
    font-size: 20px;
}

.project_block {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px 0;
}

.main-link {
    color: #000000;
    text-decoration: none;
    padding: 5px 15px;
    background-color: rgba(154, 154, 154, 0.6);
    border-radius: 5px;
}

.main-link:hover {
    background-color: rgba(154, 154, 154, 0.9);
    outline: 1px solid #000;;
}

.footer__wrapper {
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.footer-link {
    color: #000000;
    text-decoration: none;
    font-style: italic;
    font-size: 20px;
}

.footer-link:hover {
    text-decoration: underline;
}

.experience__table {
    margin: 20px 0 0 0;
    width: 100%;
}

.experience-time {
    font-weight: 600;
}

.modal-background {
    visibility: hidden;
    opacity: 1;
}

@media (max-width: 500px) {

    .information__foto {
        height: 250px; 
        outline-offset: -7px;
    }

    .information__name {
        font-size: 30px;
    }

    .experience-time,
    .experience-work,
    .education,
    .nav_item {
        border-bottom: 1px solid white;
    }

    .nav {
        display: none;
    }

    .nav.active {
        display: flex;
    }

    .nav_list {
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        padding: 40px 0 40px 20px;
        background-color: rgb(163, 162, 162);
        z-index: 5;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .nav_burger {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 30px;
        width: 30px;
        z-index: 10;
        transition: all 0.3s ease;
    }

    .burger_line {
        display: block;
        width: 30px;
        height: 2px;
        background-color: #000000;
        transform: scale(1);
    }

    .nav_burger::before, 
    .nav_burger::after {
        content: '';
        position: absolute;
        display: block;
        width: 30px;
        height: 2px;
        background-color: #000000;
    }

    .nav_burger::before {
        top: 5px;
    }

    .nav_burger::after {
        bottom: 5px;
    }

    .nav_burger.active {
        position: fixed;
    }

    .nav_burger.active>.burger_line {
        transform: scale(0);
    }

    .nav_burger.active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }

    .nav_burger.active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
    }

    .modal-background.active {
        visibility: visible;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.6);
    }

    .footer__wrapper {
        padding: 0 5px;
    }
}